实现方式讨论

你好  没想到你也是chinese，哈哈
https://github.com/golang/go/issues/49310 这个问题是我提的，因为官方没有什么进度，我一直用的下边这个方法。
我觉得他们可能不想修改太多代码，要是能用修改很少的代码来实现，他们可能会同意推送的代码。

我的shell脚本
```
# 将-------mzky--------及以下内容删除，避免重复执行脚本导致异常
sed -i '/.*-------mzky--------.*/,$d' $serverPath  
# 将下面的自定义代码追加到源码中
cat goserver >>"$GOROOT/src/net/http/server.go"
```
```
-------mzky--------
// TlsBadRequest 可以自定义返回消息
var TlsBadRequest string
// TlsBadRequestLocation 可自定义的登录页或异常返回的首页地址
var TlsBadRequestLocation string
func (srv *Server) ListenAndServeTLSCustomize(certFile, keyFile string) error {
	if srv.shuttingDown() {
		return ErrServerClosed
	}
	addr := srv.Addr
	if addr == "" {
		addr = ":https"
	}

	ln, err := net.Listen("tcp", addr)
	if err != nil {
		return err
	}

	defer ln.Close()

	return srv.ServeTLSCustomize(ln, certFile, keyFile)
}

func (srv *Server) ServeTLSCustomize(l net.Listener, certFile, keyFile string) error {
	// Setup HTTP/2 before srv.Serve, to initialize srv.TLSConfig
	// before we clone it and create the TLS Listener.
	if err := srv.setupHTTP2_ServeTLS(); err != nil {
		return err
	}

	config := cloneTLSConfig(srv.TLSConfig)
	if !strSliceContains(config.NextProtos, "http/1.1") {
		config.NextProtos = append(config.NextProtos, "http/1.1")
	}

	configHasCert := len(config.Certificates) > 0 || config.GetCertificate != nil
	if !configHasCert || certFile != "" || keyFile != "" {
		var err error
		config.Certificates = make([]tls.Certificate, 1)
		config.Certificates[0], err = tls.LoadX509KeyPair(certFile, keyFile)
		if err != nil {
			return err
		}
	}

	tlsListener := tls.NewListener(l, config)
	return srv.ServeCustomize(tlsListener)
}

func (srv *Server) ServeCustomize(l net.Listener) error {
	if fn := testHookServerServe; fn != nil {
		fn(srv, l) // call hook with unwrapped listener
	}

	origListener := l
	l = &onceCloseListener{Listener: l}
	defer l.Close()

	if err := srv.setupHTTP2_Serve(); err != nil {
		return err
	}

	if !srv.trackListener(&l, true) {
		return ErrServerClosed
	}
	defer srv.trackListener(&l, false)

	baseCtx := context.Background()
	if srv.BaseContext != nil {
		baseCtx = srv.BaseContext(origListener)
		if baseCtx == nil {
			panic("BaseContext returned a nil context")
		}
	}

	var tempDelay time.Duration // how long to sleep on accept failure

	ctx := context.WithValue(baseCtx, ServerContextKey, srv)
	for {
		rw, err := l.Accept()
		if err != nil {
			if srv.shuttingDown() {
				return ErrServerClosed
			}
			if ne, ok := err.(net.Error); ok && ne.Temporary() {
				if tempDelay == 0 {
					tempDelay = 5 * time.Millisecond
				} else {
					tempDelay *= 2
				}
				if max := 1 * time.Second; tempDelay > max {
					tempDelay = max
				}
				srv.logf("http: Accept error: %v; retrying in %v", err, tempDelay)
				time.Sleep(tempDelay)
				continue
			}
			return err
		}
		connCtx := ctx
		if cc := srv.ConnContext; cc != nil {
			connCtx = cc(connCtx, rw)
			if connCtx == nil {
				panic("ConnContext returned nil")
			}
		}
		tempDelay = 0
		c := srv.newConn(rw)
		c.setState(c.rwc, StateNew, runHooks) // before Serve can return
		go c.serveCustomize(connCtx)
	}
}

func (c *conn) serveCustomize(ctx context.Context) {
	c.remoteAddr = c.rwc.RemoteAddr().String()
	ctx = context.WithValue(ctx, LocalAddrContextKey, c.rwc.LocalAddr())
	var inFlightResponse *response
	defer func() {
		if err := recover(); err != nil && err != ErrAbortHandler {
			const size = 64 << 10
			buf := make([]byte, size)
			buf = buf[:runtime.Stack(buf, false)]
			c.server.logf("http: panic serving %v: %v\n%s", c.remoteAddr, err, buf)
		}
		if inFlightResponse != nil {
			inFlightResponse.cancelCtx()
		}
		if !c.hijacked() {
			if inFlightResponse != nil {
				inFlightResponse.conn.r.abortPendingRead()
				inFlightResponse.reqBody.Close()
			}
			c.close()
			c.setState(c.rwc, StateClosed, runHooks)
		}
	}()

	if tlsConn, ok := c.rwc.(*tls.Conn); ok {
		tlsTO := c.server.tlsHandshakeTimeout()
		if tlsTO > 0 {
			dl := time.Now().Add(tlsTO)
			c.rwc.SetReadDeadline(dl)
			c.rwc.SetWriteDeadline(dl)
		}
		if err := tlsConn.HandshakeContext(ctx); err != nil {
			// If the handshake failed due to the client not speaking
			// TLS, assume they're speaking plaintext HTTP and write a
			// 400 response on the TLS conn's underlying net.Conn.
			TlsBadRequest = "HTTP/1.0 400 Bad Request\n\nClient sent an HTTP request to an HTTPS server.\n"
			if TlsBadRequestLocation != "" {
				u := url.URL{Scheme: "https",Host: c.rwc.LocalAddr().String(),Path: TlsBadRequestLocation}
				TlsBadRequest = `HTTP/1.1 307 Internal Redirect
Location: ` + u.String() + `
Timing-Allow-Origin: *
Cross-Origin-Resource-Policy: Cross-Origin
Non-Authoritative-Reason: HSTS
x-xss-protection: 0

<head><meta http-equiv="refresh" content="1;url="`+u.String()+`"></head>`
			}

			if re, ok := err.(tls.RecordHeaderError); ok && re.Conn != nil && tlsRecordHeaderLooksLikeHTTP(re.RecordHeader) {
				io.WriteString(re.Conn,TlsBadRequest)
				re.Conn.Close()
				return
			}
			// c.server.logf("http: TLS handshake error from %s: %v", c.rwc.RemoteAddr(), err)
			return
			}
			// Restore Conn-level deadlines.
			if tlsTO > 0 {
				c.rwc.SetReadDeadline(time.Time{})
				c.rwc.SetWriteDeadline(time.Time{})
			}
			c.tlsState = new(tls.ConnectionState)
			*c.tlsState = tlsConn.ConnectionState()
			if proto := c.tlsState.NegotiatedProtocol; validNextProto(proto) {
				if fn := c.server.TLSNextProto[proto]; fn != nil {
					h := initALPNRequest{ctx, tlsConn, serverHandler{c.server}}
					// Mark freshly created HTTP/2 as active and prevent any server state hooks
					// from being run on these connections. This prevents closeIdleConns from
					// closing such connections. See issue https://golang.org/issue/39776.
					c.setState(c.rwc, StateActive, skipHooks)
					fn(c.server, tlsConn, h)
				}
				return
			}
		}

		// HTTP/1.x from here on.
		ctx, cancelCtx := context.WithCancel(ctx)
		c.cancelCtx = cancelCtx
		defer cancelCtx()

		c.r = &connReader{conn: c}
		c.bufr = newBufioReader(c.r)
		c.bufw = newBufioWriterSize(checkConnErrorWriter{c}, 4<<10)

		for {
			w, err := c.readRequest(ctx)
			if c.r.remain != c.server.initialReadLimitSize() {
				// If we read any bytes off the wire, we're active.
				c.setState(c.rwc, StateActive, runHooks)
			}
			if err != nil {
				const errorHeaders = "\r\nContent-Type: text/plain; charset=utf-8\r\nConnection: close\r\n\r\n"

				switch {
				case err == errTooLarge:
					// Their HTTP client may or may not be
					// able to read this if we're
					// responding to them and hanging up
					// while they're still writing their
					// request. Undefined behavior.
					const publicErr = "431 Request Header Fields Too Large"
					fmt.Fprintf(c.rwc, "HTTP/1.1 "+publicErr+errorHeaders+publicErr)
					c.closeWriteAndWait()
					return

				case isUnsupportedTEError(err):
					// Respond as per RFC 7230 Section 3.3.1 which says,
					//      A server that receives a request message with a
					//      transfer coding it does not understand SHOULD
					//      respond with 501 (Unimplemented).
					code := StatusNotImplemented

					// We purposefully aren't echoing back the transfer-encoding's value,
					// so as to mitigate the risk of cross side scripting by an attacker.
					fmt.Fprintf(c.rwc, "HTTP/1.1 %d %s%sUnsupported transfer encoding", code, StatusText(code), errorHeaders)
					return

				case isCommonNetReadError(err):
					return // don't reply

				default:
					if v, ok := err.(statusError); ok {
						fmt.Fprintf(c.rwc, "HTTP/1.1 %d %s: %s%s%d %s: %s", v.code, StatusText(v.code), v.text, errorHeaders, v.code, StatusText(v.code), v.text)
						return
					}
					publicErr := "400 Bad Request"
					fmt.Fprintf(c.rwc, "HTTP/1.1 "+publicErr+errorHeaders+publicErr)
					return
				}
			}

			// Expect 100 Continue support
			req := w.req
			if req.expectsContinue() {
				if req.ProtoAtLeast(1, 1) && req.ContentLength != 0 {
					// Wrap the Body reader with one that replies on the connection
					req.Body = &expectContinueReader{readCloser: req.Body, resp: w}
					w.canWriteContinue.Store(true)
				}
			} else if req.Header.get("Expect") != "" {
				w.sendExpectationFailed()
				return
			}

			c.curReq.Store(w)

			if requestBodyRemains(req.Body) {
				registerOnHitEOF(req.Body, w.conn.r.startBackgroundRead)
			} else {
				w.conn.r.startBackgroundRead()
			}

			// HTTP cannot have multiple simultaneous active requests.[*]
			// Until the server replies to this request, it can't read another,
			// so we might as well run the handler in this goroutine.
			// [*] Not strictly true: HTTP pipelining. We could let them all process
			// in parallel even if their responses need to be serialized.
			// But we're not going to implement HTTP pipelining because it
			// was never deployed in the wild and the answer is HTTP/2.
			inFlightResponse = w
			serverHandler{c.server}.ServeHTTP(w, w.req)
			inFlightResponse = nil
			w.cancelCtx()
			if c.hijacked() {
				return
			}
			w.finishRequest()
			c.rwc.SetWriteDeadline(time.Time{})
			if !w.shouldReuseConnection() {
				if w.requestBodyLimitHit || w.closedRequestBodyEarly() {
					c.closeWriteAndWait()
				}
				return
			}
			c.setState(c.rwc, StateIdle, runHooks)
			c.curReq.Store(nil)

			if !w.conn.server.doKeepAlives() {
				// We're in shutdown mode. We might've replied
				// to the user without "Connection: close" and
				// they might think they can send another
				// request, but such is life with HTTP/1.1.
				return
			}

			if d := c.server.idleTimeout(); d != 0 {
				c.rwc.SetReadDeadline(time.Now().Add(d))
			} else {
				c.rwc.SetReadDeadline(time.Time{})
			}

			// Wait for the connection to become readable again before trying to
			// read the next request. This prevents a ReadHeaderTimeout or
			// ReadTimeout from starting until the first bytes of the next request
			// have been received.
			if _, err := c.bufr.Peek(4); err != nil {
				return
			}

			c.rwc.SetReadDeadline(time.Time{})
		}
}
```

我点进你主页发现你用简体中文，所以我直接在英文后面附加一段中文，这样前面那段老外看，后面那段国人看（doge）

之前的那些方案的bug是，请求稍微长一点就会导致connection was reset，因为请求内容没被服务器读完。这个bug经过这个mod不断的测试迭代，现在已经没有了。

这个mod其它文件不是重点，重点实现在 [conn.go](https://github.com/bddjr/hlfhr/blob/main/conn.go) 和 [conn-http-header-reader.go](https://github.com/bddjr/hlfhr/blob/main/conn-http-header-reader.go) 里面，你可以看看。